Dream/build
*.root
*.out
*.err
Run/original_validation
Run/sensitive_validation
Run/fastsim_validation
Run/shower_validation
Run/hepmc_validation
Run/physics_validation
Run/final_validation
Run/final_run
*/.ipynb_checkpoints
*.png
*.pyc
*.o
*.exe
*.tfrecord
*.npy
*.csv
.vscode
